:root {
  --primary-color: #ebf0fb; /*#e4deae;*/
  --secondary-color: #d8ebff; /*#b7bf96;*/
}

.body {
  background-color: #00cdac;
}

/*------ BANNER ------*/
.banner {
  width: 80%;
  height: 14vh;
  margin: 5px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.banner h1 {
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  font-size: 50px;
}

.logo {
  width: 100%;
  text-align: center;
}

.banner a {
  text-decoration: none;
  color: #000;
}
.banner a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

/*------ MAIN ------*/
.main {
  background-color: var(--primary-color);
  width: 80%;
  height: 84vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.main h1 {
  text-align: center;
  font-family: Apple Chancery, cursive;
  padding-bottom: 30px;
}

.main button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  font-family: Apple Chancery, cursive;
  width: 250px;
  height: auto;
  padding: 20px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  transition: 0.7s;
}

.main button:nth-child(2) {
  border: 5px solid #7db954;
  background-color: #7db954;
}

.main button:nth-child(3) {
  border: 5px solid #ffef6f;
  background-color: #ffef6f;
}

.main button:nth-child(4) {
  border: 5px solid #ff7e5a;
  background-color: #ff7e5a;
}

.main button:hover {
  -webkit-box-shadow: 16px 19px 36px -2px rgba(157, 157, 159, 1);
  -moz-box-shadow: 16px 19px 36px -2px rgba(157, 157, 159, 1);
  box-shadow: 16px 19px 36px -2px rgba(157, 157, 159, 1);
  transform: scale(1.05);
}

/*------ INPUTS ------*/
.main input {
  width: 68px;
  height: 68px;
  margin: 5px;
  font-size: 50px;
  text-align: center;
}

.check_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.disabled_inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled_inputs input {
  width: 57px;
  height: 57px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  color: #000;
}

/*------ RESULT ------*/
.result h1 {
  text-align: center;
  font-size: 50px;
}
.result h2 {
  text-align: center;
  font-size: 30px;
  font-family: Apple Chancery, cursive;
  padding-bottom: 40px;
}

.result a {
  text-decoration: none;
  color: #0da2ff;
  transition: 0.5s;
  position: relative;
}

.result a::after {
  text-decoration: none;
  color: #0da2ff;
  content: "";
  height: 3px;
  width: 0;
  background: #0da2ff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 1s;
}

.result a:hover::after {
  text-decoration: none;
  color: #0da2ff;
  width: 100%;
}
.result a:hover {
  text-decoration: none;
  color: #000;
}

/*------ MEDIA QUERIES ------*/
@media only screen and (max-width: 480px) {
  .banner h1 {
    font-size: 5vh;
    font-family: Verdana, sans-serif;
  }

  .main h1 {
    font-size: 4vh;
    font-family: Verdana, sans-serif;
  }

  .main button {
    width: 75px;
    font-size: 1vh;
    font-family: Verdana, sans-serif;
  }

  .inputs input {
    width: 37px;
    height: 37px;
    margin: 5px;
    font-size: 15px;
  }

  .disabled_inputs input {
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: 10px;
  }

  .check_button #check_bttn {
    width: 155px;
    font-size: 10px;
  }

  .result h2 {
    font-family: Verdana, sans-serif;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .banner h1 {
    font-size: 5vh;
    font-family: Verdana, sans-serif;
  }

  .main h1 {
    font-size: 4vh;
    font-family: Verdana, sans-serif;
  }

  .main button {
    width: 100px;
    font-size: 2vh;
    font-family: Verdana, sans-serif;
  }

  .inputs input {
    width: 52px;
    height: 52px;
    margin: 5px;
    font-size: 25px;
  }

  .disabled_inputs input {
    width: 44px;
    height: 44px;
    margin: 5px;
    font-size: 17px;
  }

  .check_button #check_bttn {
    width: 190px;
    font-size: 15px;
  }

  .result h2 {
    font-family: Verdana, sans-serif;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main h1 {
    font-size: 4vh;
  }

  .main button {
    width: 150px;
    font-size: 3vh;
  }

  .inputs input {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 25px;
  }

  .disabled_inputs input {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 17px;
  }

  .check_button #check_bttn {
    width: 220px;
    font-size: 17px;
  }
}
